* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Color de fondo de la página */
}

header {
    width: 100%;
    height: 800px;
    background: #4e9dbc;
    background: -webkit-linear-gradient(to right, hsla(189, 95%, 50%, 0.459), hsla(182, 45%, 52%, 0.664)), url(../img/portada.jpg);
    background: linear-gradient(to right, hsla(194, 95%, 50%, 0.459), hsla(177, 45%, 52%, 0.664)), url(../img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    float: left;
    display: block;
    color: #50210f;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    text-decoration: none;
}

nav form {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

nav input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    nav a, nav form {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
}
.textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenido {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.imagen {
    flex: 1;
    overflow: hidden;
}

.imagen img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.texto {
    flex: 1;
    padding: 0 20px;
    color: #804c35;
    font-size: 18px;
    font-weight: bold;
}

#beneficios {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.contenedor-izquierdo {
    flex: 1;
    text-align: left;
}

.titulo-centrado {
    color: #804c35;
    font-size: 30px;
    text-align: center;
}

.contenedor-derecho {
    flex: 1;
    text-align: right;
}

.imagen-bordes-curvos {
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-right: 3px;

}

.contenedores-beneficios {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;
}

.beneficio-item {
    background-color: #00a1a1;
    border-radius: 20px;
    padding: 20px;
    margin: 0 10px;
    margin-bottom: 20px; 
    width: 100%; 
}

.beneficio-item p {
    color: white;
    font-size: 18px;
    text-align: center;
}

#nuevos-beneficios {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.contenedor-izquierdo {
    flex: 1;
    text-align: left;
}

.titulo-centrado {
    color: #804c35;
    font-size: 30px;
}

.contenedor-derecho {
    flex: 1;
    text-align: right;
}

.imagen-bordes-curvos {
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    height: auto;
}

.contenedores-beneficios {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;
}

.beneficio-item {
    background-color: #00a1a1;
    border-radius: 20px;
    padding: 20px;
    margin: 0 10px;
    margin-bottom: 20px; 
    width: 100%; 
    margin-left: 60px;

}

.beneficio-item p {
    color: white;
    font-size: 18px;
    text-align: center;
    
}

#presentacion {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

#presentacion .contenedor-izquierdo {
    flex: 1;
    text-align: left;
}

#presentacion h2 {
    color: #804c35;
    font-size: 40px;
}

#presentacion p {
    color: #804c35;
    font-size: 25px;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    margin-left: 80px;
    margin-right: 80px;
}

#presentacion .contenedor-derecho {
    flex: 1;
    text-align: right;
}

#aportes {
    text-align: center;
    padding: 50px 0;
}

#aportes .contenedor-centrado {
    max-width: 650px;
    margin: auto;
}

#aportes .imagen-bordes-curvos {
    border-radius: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#aportes .titulo-negrilla {
    font-weight: bold;
    font-size: 24px;
    color: #804c35;
    margin-bottom: 10px;
}

#aportes p {
    color: #804c35;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Color de fondo de la página */
}

/* ... Estilos existentes ... */

footer {
    background-color: #222; /* Fondo gris oscuro */
    color: beige; /* Texto beige */
    padding: 50px 0;
}

footer .contenedor {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

footer h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

footer a {
    display: block;
    color: beige;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #00a1a1; /* Cambia de color al pasar el ratón */
}


#mision-social {
    background-color: #fcf5f2; /* Color de fondo para la sección de misión social */
}

#beneficios {
    background-color: #ffffff; /* Color de fondo para la sección de beneficios */
}

#nuevos-beneficios {
    background-color: #ffffff; /* Color de fondo para la sección de nuevos beneficios */
}

#presentacion {
    background-color: #fcf5f2; /* Color de fondo para la sección de presentación */
}

#aportes {
    background-color: #ffffff; /* Color de fondo para la sección de aportes */
}
